.private/
.task/
.grok/
*.crt
*.key
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
kubeconfig
talosconfig
m3-machineconfig.yaml
m4-machineconfig.yaml
terraform.tfvars
# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
# Trash
.DS_Store
Thumbs.db
192.168.10.10-machineconfig.yaml
192.168.10.11-machineconfig.yaml
192.168.10.12-machineconfig.yaml